<div class="form">
<%= form_for Gossip.new do |f| %>
  <div class="form-control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-control">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit %>
  <% end %>
</div>
